<form action="/capsules" method="post">
  <dl>
    <dt>
      <label for="capsule_message">Share the Love:</label>
    </dt>
    <dd>
      <input name="capsule_message" placeholder="I appreciate..." type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/capsules">Cancel</a>
  </fieldset>
</form>