
<!-- Add new capsules -->
<form action="/capsules" method="post">
  <dl>
    <dt>
      <label for="capsule_message">Share the Love:</label>
    </dt>
    <dd>
      <input name="capsule_message" placeholder="I appreciate..." type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
  </fieldset>
</form>

<!-- Display capsules collection -->
<ul>
  <% @capsules.each do |capsule| %>
    <li><%= capsule %></li>
  <% end %>
</ul>

<!-- Send a random Capsule -->
<form action="/send" method="post">
  <dl>
    <dt>
      <label for="capsule_message">Send a dose of love?</label>
    </dt>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Dose Them!">
  </fieldset>
</form>

<!-- Display sent capsules -->
<ul>
  <% @sent_messages.each do |sent_message| %>
    <li><%= sent_message %></li>
  <% end %>
</ul>