
<!-- user home page layout -->
<div class="row margin">
    <div class="col grid_2_of_12">
      <p> </p>    <!-- this is just to make the first 2 columns open/blank -->
    </div>
    
    <!-- message submission -->
    <div class="col grid_3_of_12">
      <!-- Add new capsules -->
      <form action="/capsules" method="post">
        <dl>
          <dt>
            <label for="capsule_message">Share the Love:</label>
          </dt>
          <dd>
            <input name="capsule_message" placeholder="I appreciate..." type="text" value="">
          </dd>
        </dl>
        
        <div class="sidebyside">
        <!--Save as draft-->
        <fieldset class="actions">
          <input type="submit" value="Save to Drafts">
        </fieldset>
        <!-- Add to dispenser -->
        <fieldset class="actions ">
          <input type="submit" value="Add to dispenser">
        </fieldset>
        </div>
      </form>
    </div> <!--end message submission-->  

    <div class="col grid_1_of_12">
    <p>  </p>
    </div>
    
    <div class="col grid_2_of_12">
    <!-- FOR TESTING PURPOSES ONLY -->
     <!-- Send a random Capsule -->
    <form action="/send" method="post">
      <dl>
        <dt>
          <label for="capsule_message">Send a dose of love?</label>
        </dt>
      </dl>
      <fieldset class="actions">
        <input type="submit" value="Dose Them!">
      </fieldset>
    </form>
    <!-- END TEST -->
    </div>
    
    <div class="col grid_1_of_12">
    <p>  </p>
    </div> 
 
  <div class="col grid_3_of_12" id="dispenser">
<!--<div id="dispenser">-->
  <h2>Dispenser</h2>
  <!-- Display undispensed capsules collection -->
  <ul>
    <% @capsules.each do |capsule| %>
      <li><%= capsule %></li>
    <% end %>
  </ul>
</div>
</div>

<div class="row drafts">
    <div class="col grid_2_of_12">
      <p> </p>    <!-- this is just to make the first 2 columns open/blank -->
    </div>
    
    <!-- drafts-->
    <div class="col grid_3_of_12">
    <!--<div id="drafts">-->
      <h1>Drafts</h1>
      <!--drafts to go here-->
      <p>example draft</p>
    </div>
</div>