
<!-- user home page layout -->
<div class="row">
    <div class="col grid_3_of_12">
      <p> </p>    <!-- this is just to make the first 3 columns open/blank -->
    </div>
    
    <div class="col grid_3_of_12">
      <form>
            <label>Share the Love:</label>
            <input name="capsule_message" placeholder="I appreciate..." type="text" value="">
       
        <!--This one should be save to draft-->
        <fieldset>
          <input type="submit" value="Save to Drafts">
        </fieldset>
       
        <!--This one should be Ready to dispence!-->
        <fieldset>
          <input type="submit" value="Ready to Dispence!">
        </fieldset>
      </form>
    </div> <!--end message sunmit form-->  
    
    <div class="col grid_3_of_12">
      <p> </p>    <!-- this is to make the next 3 columns open/blank -->
    </div>
 </div>

<div id="dispencer">
  <h1>Dispenser</h1>
  <!-- This is where the dispenced messages should show up -->
  <p>ex. message</p>
</div>

<div id="drafts">
  <div>
    <h1>Drafts</h1>
    <!--drafts to go here-->
    <p>example draft</p>
  </div>
</div>