
<!-- user home page layout -->
<div class="row">
    <div class="col grid_3_of_12">
      <p> </p>    <!-- this is just to make the first 3 columns open/blank -->
    </div>
    
    <!-- message submission -->
    <div class="col grid_3_of_12">
      <!-- Add new capsules -->
      <form action="/capsules" method="post">
        <dl>
          <dt>
            <label for="capsule_message">Share the Love:</label>
          </dt>
          <dd>
            <input name="capsule_message" placeholder="I appreciate..." type="text" value="">
          </dd>
        </dl>

        <!-- Add to dispenser -->
        <fieldset class="actions">
          <input type="submit" value="Add">
        </fieldset>
        <!--Save as draft-->
        <fieldset class="actions">
          <input type="submit" value="Save">
        </fieldset>
      </form>
    </div> <!--end message submission-->  
    
    <!-- FOR TESTING PURPOSES ONLY -->
     <!-- Send a random Capsule -->
    <form action="/send" method="post">
      <dl>
        <dt>
          <label for="capsule_message">Send a dose of love?</label>
        </dt>
      </dl>
      <fieldset class="actions">
        <input type="submit" value="Dose Them!">
      </fieldset>
    </form>
    <!-- END TEST -->
    
    <div class="col grid_3_of_12">
      <p> </p>    <!-- this is to make the next 3 columns open/blank -->
    </div>
 </div>

<div id="dispenser">
  <h1>Dispenser</h1>
  <!-- Display undispensed capsules collection -->
  <ul>
    <% @capsules.each do |capsule| %>
      <li><%= capsule %></li>
    <% end %>
  </ul>
</div>

<div id="drafts">
  <div>
    <h1>Drafts</h1>
    <!--drafts to go here-->
    <p>example draft</p>
  </div>
</div>