<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Capsules</title>

    <link rel="stylesheet" href="/stylesheets/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/fonts.css">
</head>

<body>

  <div id="layout">
      <div id="main">
        <div class="header">
          <h1>Capsules</h1>
        </div>

        <div class="content">
          <textarea rows="4" cols="50">
            Your message here...
          </textarea>
          <!-- implement button that when you click it sends Bri a message -->
        </div>
      </div>
  </div>

  <script type="text/javascript" src="javascripts/ui.js"></script>
</body>
</html>