<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Capsules</title>

    <link rel="stylesheet" href="/stylesheets/application.css">
    <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
</head>

<body>

  <div id="main">
    <div class="header">
      <h1>Capsules</h1>
      <br>
    </div>

    <div class="content">
      <!-- Display flash messages -->
      <% if session[:error] %>
        <div class="flash error">
          <p><%= session.delete(:error) %></p>
        </div>
      <% end %>
      <% if session[:success] %>
        <div class="flash success">
          <p><%= session.delete(:success) %></p>
        </div>
      <% end %>

      <!-- Yield to specific page content -->
      <%= yield %>
    </div>
  </div>


  <script type="text/javascript" src="javascripts/ui.js"></script>
</body>
</html>