<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Capsules</title>

    <link rel="stylesheet" href="/stylesheets/application.css">
    <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
</head>

<body>

  <div id="layout">
      <div id="main">
        <div class="header">
          <h1>Capsules</h1>
          <br>
        </div>

        <div class="content">
          <%= yield %>
        </div>
      </div>
  </div>

  <script type="text/javascript" src="javascripts/ui.js"></script>
</body>
</html>