<!-- Login Form -->
<form action="/login" method="post">
  <dl>
    <dt>
      <label for="username">Username:</label>
    </dt>
    <dd>
      <input name="username" placeholder="Seneca" type="text" value="">
    </dd>

    <dt>
      <label for="password">Password:</label>
    </dt>
    <dd>
      <input name="password" placeholder="secret" type="text" value="">
    </dd>
  </dl>

  <fieldset class="actions ">
    <input type="submit" value="Login">
  </fieldset>
</form>
<!-- Login Form -->
