<!-- user registration submission -->
<section id="registration">
  <form action="/register" method="post">
    <dl>
      <dt>
        <label for="username">Username:</label>
      </dt>
      <dd>
        <input name="username" placeholder="Seneca" type="text" value="">
      </dd>

      <dt>
        <label for="password">Password:</label>
      </dt>
      <dd>
        <input name="password" placeholder="secret" type="text" value="">
      </dd>
    </dl>

    <!-- Add new user -->
    <fieldset class="actions ">
      <input type="submit" value="Register">
    </fieldset>
  </form>
</section>
<!--end user registration submission-->  
