<main>
  <article>
    <h3>Your Daily Dose of Love!</h3>
    <p>You might be wondering if we sell drugs...</p>

    <p>...and the answer is: Yes! We shamelessly promote the most addicting drug of all.</p>

    <p>Love.</p>

    <p>If you are like us then you are warm, caring, and loving... AND busy.</p>

    <p>You're busy. I'm busy. We are all busy. Which is why we have to get <italic>efficient</italic>. </p>

    <p>That is why we built this love message batcher!</p>

    <p>If you want to sprinkle a bit of love on top of someone-special's day then this is it!</p>

    <p>Create an account and combat icky pharmacuticals with virtual capsules filled with warm emotion!</p>

    <p>Disclaimer: By capsules... we mean text messages.</p>
  </article>
  
  <article>
    <h2>Our Founders</h2> 
    <h3>Brianna Pizana & Michael Mentele</h3>

    <p>Bri is a super hot designer that Michael fell in love with (he even put her name first) and built a robot to send her love messages. She responded with love pills (real ones). Eventually we decided to share our love triangle (Bri, Michael, and his robot) with the world!</p>
  </article>
</main>
