<article>
  <h2>&bull; Your Daily Dose of Love &bull; </h2>
  <p>You might be wondering if we sell drugs...</p>

  <p>The answer is... you bet your warm-fuzzy-feelings we do! We <i>shamelessly</i> promote the most addicting drug of all:</p>

  <p class="bang_emphasis" id="splash_love"><i>Love</i></p>

  <p>If you are like us then you are warm, caring, loving and--</p>

  <p class="bang_emphasis" id="splash_busy"><i>BUSY</i></p>

  <p>That is why here at MAB we built this love message dispenser; to provide a place where you can sit down and store a bunch of messages and our robot (also called MAB) will deliver them!</p>

  <p>So if you want to sprinkle a bit of love on top of someone-special's day then it's easy as a-b-c...</p>

  <ol>
    <li>Create an account</li>
    <li>Batch your messages</li>
    <li>Let MAB send your messages spontaneously!</li>
  </ol>

  <p>Create an account and combat icky pharmacuticals with virtual capsules filled with warm emotion!</p>
</article>

<article>
  <h2>&bull; Our Founders &bull;</h2> 
  <h3>Brianna Pizana & Michael Mentele</h3>

  <img src="" alt="Michael and Bri">
  <img src="" alt="MAB the Robot">

  <p>Bri is a super hot designer that Michael fell in love with (he even put her name first) and built a robot to send her love messages. She responded with love pills (real ones). Eventually we decided to share our love triangle (Bri, Michael, and his robot) with the world!</p>
</article>
