#dispenser{
  display:block;
  background-color: #f1f1f1;
  text-align: center;
  color:#474141;
}

#dispenser h2{
  font-weight:400;
  font-size: 20px;
  margin:0;
}

#drafts h1 {
  font-size: 20px;
  font-weight: 400;
}

#drafts{
  background-color: #EC92FF;
  text-align: center;
  color:#fff;
  padding-top:50px;
}
