a {
  color: inherit;
  text-decoration: none; 
}

body {
  font-family: 'Catamaran', sans-serif;  
  font-weight: 400;
  color: #3f3f3f;
  background: #ffffff;
  margin:0;
}

body > header .actions {
  display: inline-block;
  width: 60%;
}

body > header .actions a {
  -webkit-transition: color 200ms ease;
  -moz-transition: color 200ms ease;
  -o-transition: color 200ms ease; 
}

body > header .actions a:hover {
  color: #dd5f4f; 
}

body > header .actions a.add:before {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 0 7px 0 0;
  vertical-align: -6px;
  content: "";
}

body > header .actions a.add:hover:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); 
}

#main > form {
  margin-top: 1.5em; 
}

.flash {
  background: lightyellow;
}

form dt {
  padding: 0 0 5px 0; 
}

form dd {
  padding: 0 0 10px 0; 
}

form input[type="text"]{
  width: 100%;
  height: 40px;
  padding: 5px 0 5px 5px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 200;
  font-size:18px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  box-sizing: border-box; 
}

form input[type="submit"] {
  padding: 3px 25px;
  margin: 0;
  font-family: 'Catamaran', sans-serif;
  font-weight:600;
  font-size:16px;
  letter-spacing:.04em;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  background: #FF7D7E;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-transition: background-color 200ms ease;
  -moz-transition: background-color 200ms ease;
  -o-transition: background-color 200ms ease; 
  -webkit-transition-duration: 0.4s; /* Safari */
}

form input[type="submit"]:hover {
  cursor: pointer; 
  padding: 0px 27px;
  color: #666;
  border: 3px solid rgba(255,125,126,.65);
  border-radius: 4px;
  background: #fff;
}

form fieldset.actions a {
  color: #666666;
  -webkit-transition: color 200ms ease;
  -moz-transition: color 200ms ease;
  -o-transition: color 200ms ease; 
}

form fieldset.actions a:hover {
  color: #b00b00; 
}

#capsules li {
  position: relative;
  padding: 18px 25px 18px 57px;
  margin: 0 0 10px 0;
  border-radius: 8px;
  background: #f6f6f6; 
}

#capsules li:before {
  position: absolute;
  top: 50%;
  left: 23px;
  z-index: 1;
  width: 16px;
  height: 16px;
  margin: -8px 0 0 0;
  content: "";
  border-radius: 100%;
  background: #dd5f4f; 
}

#capsules a {
  display: block;
  color: inherit; 
}

#capsules h2 {
  display: inline-block;
  width: 95%; 
}

#capsules p {
  display: inline-block;
  width: 5%;
  font-size: 0.9em;
  float: right;
  color: #666666; 
}

header {
  background: #FFF;
  text-align: center;
}

.logo{
  padding-bottom:10px;
  margin:5px;
  
}

nav {
  padding: 0px;
  padding-right:40px;
  overflow: hidden;
}

nav ul{
  list-style-type:none;
  text-align: center;
}

nav li{
  display: inline;
  color:#666;
  font-weight:600;
  font-size:20px;
  letter-spacing:.07em;
}

nav li a{
    text-align: inherit;
    padding: 5px 16px 14px 16px;
    
}

nav li a:hover{
    color:rgba(255,125,126,.65);
    font-weight:600;
}

.margin{
  margin:40px 0;
}

label{
  font-family: 'Catamaran', sans-serif;
  font-weight:400;
  font-size: 20px;
  margin-left:10px; 
}

dd{
  -webkit-margin-start: 5px;
}

.sidebyside{
  float:right;
  clear:both;
  display:inline-flex;
}

fieldset{
  -webkit-margin-start: 4px;
  -webkit-margin-end: 4px;
  -webkit-padding-before:0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0; 
}

dl {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

#dispenser{
  display:block;
  background-color: #f1f1f1;
  text-align: center;
  color:#474141;
  /*position: absolute;*/
  /*  right:0;*/
  /*  bottom:0;*/
  /*  top:143px;*/
  /*width:27.233%;*/
}

#dispenser h2{
  font-weight:400;
  font-size: 20px;
  margin:0;
}

#line img{
  padding-left:30px;

}

.drafts{
  padding-top:50px;
}
.drafts h1{
  font-size: 20px;
  font-weight: 400;
}

#drafts{
  position:absolute;
    bottom:30px;
    left:0;
    right:  27.233%;;
  background-color: #EC92FF;
  text-align: center;
  color:#fff;
}

footer{
  background-color: #C73D56;
  position:fixed;
    left:0px;
    bottom:0px;
    height:27px;
    width:100%;
  text-align: center;
  letter-spacing:.05em;
  padding:5px;
}

footer ul{
  margin:5px;
}

footer li{
  font-size:16px;
  color:#fff;
  display:inline-block;
  padding:0 15px;

}

